* {
    margin: 0;
    font-family: arial;
    border: border-box;
}
.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
}
.nav-logo  {

    height: 50px;
    width: 120px;

}
.logo {
    background-image: url("images/navbar/Screenshot\ 2024-05-28\ 012504.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white ;
}
/** box2 **/
.box-first {
    color: wheat;
    font-size:  0.5rem;
}